/* Need this because the imported style sheets did not have these styles */

ul li {
  list-style-type: square;
}

ul li li {
  list-style: circle;
}

ul li li li {
  list-style: disc;
}

ul li li li li {
  list-style:square;
}

ol li {
  list-style-type:decimal;
}